.main-nav {
  font-family: 'Marta', Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .main-nav {
    font-size: 20px;
    line-height: 1.5;
    position: absolute;
    top: 58px;
    right: 0;
    max-width: 0;
    transition: all 0.7s linear;
    background: rgba(237, 247, 250, 0.8);
    overflow: hidden;
    z-index: 2;
  }

  .opened .main-nav {
    max-width: 100%;
  }
}
