.main-nav {
  font-family: 'Marta', Georgia, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
}

@media (max-width: 1024px) {
  .main-nav {
    line-height: 1.5;
    position: absolute;
    top: 119px;
    left: 0;
    width: 100%;
    transition: all 0.5s linear;
    background: #edf7fa;
    overflow: hidden;
    z-index: 10;
    transform: translateX(-100%);
  }

  .opened .main-nav {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .main-nav {
    top: 83px;
  }
}
