.contacts__phone-for-dealers {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 40px;
  transition: all 0.5s linear;
  margin: 0;
}

.contacts__phone-for-dealers a {
  text-decoration: none;
  color: #133c5e;
  font-weight: bold;
  transition: transform 0.4s linear;
}

.contacts__phone-for-dealers a:hover {
  transform: scale(1.05);
}
