.catalog__order-button {
  margin-top: 25px;
  font-size: 20px;
  padding: 15px 40px;
}

.js-anim .catalog__order-button {
  transform: translateY(120%);
  opacity: 0;
}

.js-anim-active .catalog__order-button {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s linear 0.7s;
}

@media (max-width: 575px) {
  .catalog__order-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
