.modal__container {
  width: 100%;
  position: relative;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden auto;
}

@media (max-width: 575px) {
  .modal__container {
    padding: 40px 0;
  }
}
