.preview {
  width: 100%;
  display: grid;
  grid-template-rows: 155px repeat(2, auto);
  row-gap: 30px;
}

@media (max-width: 1024px) {
  .preview {
    grid-template-rows: 120px repeat(2, auto);
  }
}

@media (max-width: 768px) {
  .preview {
    row-gap: 20px;
    grid-template-rows: repeat(3, auto);
  }
}
