.page__content {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  position: relative;
}
