.about-silicon__property-description {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.28;
  margin: 0;
  z-index: 4;
  color: #002543;
  width: 278px;
}

@media (max-width: 1279px) {
  .about-silicon__property-description {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .about-silicon__property-description {
    text-align: center;
    width: 100%;
  }
}
