.catalog__button_active {
  background: url(../../../../images/catalog-btn-active.svg);
}

.catalog__button_active::after,
.catalog__button_active::before {
  display: none;
}

@media (max-width: 575px) {
  .catalog__button_active {
    background-color: #47bcca;
  }
}
