.address__item {
  margin-bottom: 15px;
  display: flex;
}

.address__item:last-of-type {
  margin-bottom: 0;
}

.address__item address {
  font-style: normal;
}

@media (max-width: 1024px) {
  .address__item {
    margin-bottom: 10px;
  }
}
