.uds__advantage-heading {
  margin: 0;
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: #133c5e;
}

@media (max-width: 1279px) {
  .uds__advantage-heading {
    font-size: 32px;
  }
}

@media (max-width: 575px) {
  .uds__advantage-heading {
    font-size: 26px;
    text-align: center;
  }
}
