.up-button {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  background: #47bcca url(../../images/up-button.svg) center / 21px 12px no-repeat;
  position: fixed;
  right: 100px;
  bottom: 50px;
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.up-button:hover {
  transform: translateY(-15px);
}

@media (max-width: 1024px) {
  .up-button {
    right: 50px;
  }
}

@media (max-width: 768px) {
  .up-button {
    right: 10px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background-size: 14px 8px;
  }
}
