.about-silicon__columns {
  width: 100%;
  display: grid;
  grid-template-columns: 30% minmax(min-content, 40%) 30%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'alkali images sodium-chloride'
    'slightly-mineralized images hot'
    'bicarbonate images silicic-acid';
}

@media (max-width: 768px) {
  .about-silicon__columns {
    grid-template-columns: 1fr 25px 1fr;
    justify-content: space-between;
    grid-template-areas:
      'alkali . sodium-chloride'
      'slightly-mineralized . hot'
      'bicarbonate . silicic-acid';
  }
}

@media (max-width: 575px) {
  .about-silicon__columns {
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-areas:
      'alkali'
      'slightly-mineralized'
      'bicarbonate'
      'sodium-chloride'
      'hot'
      'silicic-acid';
  }
}
