.catalog__button {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  position: absolute;
  background: url(../../../images/catalog-btn.svg) center/cover no-repeat;
}

.catalog__button::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: -100%;
  left: 50px;
  border-radius: 7px;
  opacity: 0;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.05;
  padding: 5px 10px;
  background: rgba(0 , 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  pointer-events: none;
  transition: opacity 0.5s, top 0.5s;
}

.catalog__button::before {
  content: '';
  display: block;
  position: absolute;
  top: -100%;
  left: 30px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 10px;
  border-right-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s, top 0.5s, transform 0.5s;
  transform: translateY(0);
}

.catalog__button:hover {
  z-index: 10;
}

.catalog__button:hover::after,
.catalog__button:hover::before {
  opacity: 1;
}

.catalog__button:hover::after {
  top: 0;
}

.catalog__button:hover::before {
  top: 50%;
  transform: translateY(-50%);
}

.catalog__button_type_arthritis {
  top: 132px;
  right: 50px;
}

.catalog__button_type_kidney {
  top: 150px;
  left: 78px;
}

.catalog__button_type_liver {
  top: 223px;
  left: 71px;
}

.catalog__button_type_stomach {
  top: 260px;
  left: 110px;
}

.catalog__button_type_allergy {
  top: 290px;
  right: 11px;
}

@media (max-width: 768px) {
  .catalog__button::after {
    width: auto;
    top: 150%;
    left: 0px;
    font-size: 14px;
    font-weight: normal;
  }

  .catalog__button:hover::after {
    top: 40px;
  }

  .catalog__button_type_arthritis {
    top: 94px;
    right: 25px;
  }

  .catalog__button_type_kidney {
    top: 106px;
    left: 57px;
  }

  .catalog__button_type_liver {
    top: 149px;
    left: 45px;
  }

  .catalog__button_type_stomach {
    top: 183px;
    left: 72px;
  }

  .catalog__button_type_allergy {
    top: 198px;
    right: 3px;
  }
}

@media (max-width: 575px) {
  .catalog__button {
    background-color: #00355a;
  }
}
