.contacts__dealers-wrapper {
  grid-area: dealers;
  justify-self: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1024px) {
  .contacts__dealers-wrapper {
    flex-direction: column;
  }
}
