.order-button {
  box-sizing: border-box;
  padding: 15px 90px;
  color: #fff;
  background: linear-gradient(#0a2840 30%, #133c5e 100%);
  font-size: 30px;
  line-height: 1.25;
  font-weight: normal;
  border: none;
  outline: none;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  z-index: 9;
  overflow: hidden;
}

@media (max-width: 1279px) {
  .order-button {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .order-button {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .order-button {
    width: 100%;
  }
}
