.production__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s linear;
}

.js-anim .production__image {
  transform: scale(0);
}

.js-anim-active .production__image {
  transform: scale(1);
}

.production__type:hover .production__image {
  transform: scale(1.05);
  cursor: pointer;
}


