.production__heading {
  margin: 0;
  font-size: 30px;
  line-height: 1.1;
  font-style: normal;
  font-weight: bold;
  color: #10cede;
  margin-bottom: 15px;
  transition: color 0.5s linear;
}

.production__heading:hover {
  cursor: pointer;
  color: #002543;
}

@media (max-width: 768px) {
  .production__heading {
    font-size: 24px;
  }
}
