@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main-nav/main-nav.css);
@import url(../blocks/main-nav/__list/main-nav__list.css);
@import url(../blocks/main-nav/__link/main-nav__link.css);
@import url(../blocks/toggle-menu/toggle-menu.css);
@import url(../blocks/toggle-menu/__icon/toggle-menu__icon.css);

.intro {
  font-family: 'Marta', Georgia, serif;
  padding-top: 45px;
  /* background-image: url(../images/forma_1.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain; */
}

@media (max-width: 767px) {
  .intro {
    padding-top: 30px;
  }
}

.intro__container {
  position: relative;
  overflow: hidden;
}

.intro__slider {
  display: flex;
  position: relative;
}

.slider__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  background: transparent;
  border: none;
  outline: none;
  color: #10cede;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  padding: 16px;
}

.slider__button_type_next {
  right: 0;
}

.slider__button_type_prev {
  left: 0;
}

.slider__button:hover {
  color: #133c5e;
}

.intro__slider-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro__slider-item_hide {
  display: none;
}

@media (max-width: 767px) {
  .intro__slider-item {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.intro__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 612px;
  margin-left: 55px;
}

@media (max-width: 767px) {
  .intro__description {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 35px;
  color: #133c5e;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.1;
}

@media (max-width: 1279px) {
  .intro__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.intro__subtitle {
  margin: 0;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.1;
  color: #10cede;
}

@media (max-width: 1279px) {
  .intro__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .intro__subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.intro__order-button {
  width: 200px;
  box-sizing: border-box;
  padding: 17px 40px;
  color: #fff;
  background: linear-gradient(#0a2840 30%, #133c5e 100%);
  font-size: 26px;
  line-height: 1.25;
  font-weight: normal;
  border: none;
  outline: none;
  border-radius: 35px;
  transition: opacity 0.4s linear;
}

.intro__order-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 1279px) {
  .intro__order-button {
    font-size: 15px;
    padding: 15px 40px;
  }
}

@media (max-width: 767px) {
  .intro__order-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.intro__image {
  width: 390px;
}

@media (max-width: 767px) {
  .intro__image {
    width: 270px;
    margin-bottom: 10px;
  }
}

.intro__dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transform: translateY(-130px);
}

.intro__dots li {
  margin-right: 22px;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border: 2px solid #575757;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.intro__dots li:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .intro__dots {
    margin-top: 50px;
    transform: translateY(0);
  }
}

.intro__dot {
  margin-right: 22px;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border: 2px solid #575757;
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.intro__dot:last-of-type {
  margin-right: 0;
}

.intro__dot_active {
  border-color: #10cddd;
  background: #10cddd;
}

.intro__dot:hover {
  border-color: #10cddd;
  background: #10cddd;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
















