.catalog__text {
  text-indent: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  color: #002543;
}

.catalog__text + .catalog__text {
  margin-top: 10px;
}

.js-anim .catalog__text {
  transform: translateY(120%);
  opacity: 0;
}

.js-anim-active .catalog__text {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.4s linear 0.3s;
}

@media (max-width: 575px) {
  .catalog__text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
