.catalog__image {
  width: 250px;
  margin-right: 50px;
}

@media (max-width: 1024px) {
  .catalog__image {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .catalog__image {
    width: auto;
    height: 300px;
    margin-right: 0;
  }
}
