.preview__icon {
  width: 30px;
  position: absolute;
  top: 116px;
  left: 430px;
  transform-origin: left bottom;
}


@media (max-width: 1024px) {
  .preview__icon {
    width: 25px;
    top: 88px;
    left: 263px;
  }
}

@media (max-width: 768px) {
  .preview__icon {
    width: 22px;
    top: 73px;
    left: 5px;
  }
}

@media (max-width: 575px) {
  .preview__icon {
    display: none;
  }
}

.js-anim .preview__icon {
  transform: scale(0);
}

.js-anim-active .preview__icon {
  transform: scale(1);
  transition: all 0.6s linear 0.3s;
}
