.toggle-menu {
  outline: none;
  width: 42px;
  height: 42px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.5s linear;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s linear;
}

.toggle-menu:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .toggle-menu {
    display: flex;
  }
}
