.reviews__slide {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 100%;
  padding: 0 90px 60px;
  box-sizing: border-box;
}

.reviews__slide::before {
  content: '';
  position: absolute;
  left: 27%;
  top: 12px;
  width: 100px;
  height: 80px;
  background: url(../../../images/quotes.svg) center/contain no-repeat;
}

@media (max-width: 1024px) {
  .reviews__slide {
    padding-right: 80px;
    padding-left: 80px;
  }

  .reviews__slide::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .reviews__slide {
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .reviews__slide {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}
