.production__type {
  border-radius: 20px;
  box-shadow: 0 0px 30px rgba(17, 44, 145, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.js-anim .production__type {
  transform: translateY(120%);
}

.js-anim-active .production__type {
  transform: translateY(0);
}

.production__type:nth-of-type(1) {
  transition: all 0.3s linear;
}

.production__type:nth-of-type(2) {
  transition: all 0.3s linear 0.3s;
}

.production__type:nth-of-type(3) {
  transition: all 0.3s linear 0.6s;
}

.production__type:nth-of-type(4) {
  transition: all 0.3s linear 0.9s;
}
