.intro__image {
  display: block;
  height: 100%;
}

.js-anim .intro__image {
  transform: scale(0);
}

.js-anim-active .intro__image {
  transform: scale(1);
  transition: transform 0.6s linear 0.3s;
}
