.catalog__heading {
  width: 400px;
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.1;
  color: #10cede;

}

.catalog__heading::before {
  content: '';
  width: 4px;
  height: 30px;
  background: #10cede;
  position: absolute;
  left: -19px;
  bottom: -60px;
}

@media (max-width: 1024px) {
  .catalog__heading {
    font-size: 20px;
    width: 218px;
  }
}

@media (max-width: 575px) {
  .catalog__heading {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .catalog__heading::before {
    width: 30px;
    height: 4px;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
  }
}
