.uds__bonus {
  margin: 0;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

@media (max-width: 1279px) {
  .uds__bonus {
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .uds__bonus {
    flex-direction: column;
    align-items: center;
  }
}
